xbacklight-ctl
gh
mycli
pgcli
Android Open Source Project
nvm
nvim/pluggin
nvim/autoload
nvim/pack
nvim/plugin
audacious
autorandr
autostart
binwalk
bpytop
BraveSoftware
cargo
cef_user_data
chromium
citra-emu
coc
Code - OSS
code-oss
conky*
configstore
dconf
deluge
desmume
discord
Electron
epr
evolution
falkon
fcitx
flameshot
fontconfig
GIMP
GitKraken
goa-1.0
Google
google-chrome
microsoft*
gtk-2.0
gtk-3.0
retroarch
*history*
i3
ibus
inkscape
Insomnia
JetBrains
KDE
kde.org
Kvantum
libreoffice
libvirt
manjaro
matplotlib
menus
Mousepad
msmtp
mpv
neofetch
pamac
procps
pgcli/config
pulse
qBittorrent
qpdfview
qt5ct
Quotes
sc-im
session
Slack
StardewValley
TabNine
Thunar
viewnior
VirtualBox
vlc
volumeicon
wireshark
yarn
yay
baloofileinformationrc
baloofilerc
dolphinrc
emaildefaults
katemetainfos
katerc
katevirc
kconf_updaterc
kdeglobals
knfsshare
konsole.kmessagebox
konsolerc
manjaro-hello.json
mimeapps.list
okularpartrc
okularrc
okular_markdown_generator_settings
pavucontrol.ini
QtProject.conf
user-dirs.dirs
user-dirs.locale
xfce4
zoomus.conf
.stellarium
bin
koifarm
lib
npm
unity3d
